.contact-content {
  margin: 50px 0px;
  gap: 40px;
}

.infor-contact-content {
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 1px 13px 0px #0000000d;
  padding: 50px;
  float: right;
}

.contact-infor-btn {
  margin-bottom: 10px;
}

.contact-infor-btn-text {
  font-weight: 600;
}

.col-contact-input {
  padding: 0px 10px 0px 0px;
}

.contact-input-custom .ant-input {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 0px;
}

.form-contact-content {
  flex-direction: column;
  gap: 10px;
}

.contact-form-custom .ant-btn{
   float: right;
   min-width: 30%;
}
